@page "/counter"
<div class='e-input-group'>
    <input class='e-input' Placeholder='Date of Birth' type='text'>
    <span class='e-input-group-icon e-input-calendar'></span>
</div>

<style>
.e-input-group-icon:before {
  font-family: e-icons;
}

.e-input-group .e-input-group-icon.e-input-calendar {
  font-size: 16px;
}

.e-input-group-icon.e-input-calendar:before {
  content: "";
}
</style>