::deep .e-sidebar {
    color: black;
    position:fixed;
    padding: 10px;
}

::deep .text-content {
    font-size: 1.3rem;
    width: 100%;
}
::deep span{
    word-wrap: break-word;
    white-space:nowrap;
    overflow: hidden;
    width: 100%;

    text-overflow: ellipsis;

}

::deep .main > div {
    padding: 0px !important;
}

.sidebar-container{
    position:relative
}

.side-control {
    text-align: center;
    align-content: center;
    align-items: center;
    display:inline-flex;
}
::deep .e-plus-icon::before {
    content: '\e823';
}
::deep .btn-url-add{
    margin-top: 10px;
    float: right;
}
::deep .btn-cross-light{
    background-color: transparent !important;
    border-color: transparent;
    color:black;
    border: none;
    float: right;
}
::deep .e-input-group{
    align-items:center;
    width:100%;
    border:none
}
::deep .url-list {
    border:inset;
    width: 100%;
}
::deep .url-tooltip {
    width: 100%;
}
::deep .e-accordion .e-acrdn-item {
    text-align: center;
}
