/** @format */

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 150px);
  padding-left: 20%;
  overflow: hidden;
  padding-right: 20%;
}
.tic_tac_toe {
  text-align: center;
}
.square {
  height: 100%;
  width: 100%;
  line-height: 150px;
}
.square:hover {
  border-color: greenyellow;
}
.square img {
  height: 100%;
  width: 100%;
  padding: 5%;
  object-fit: contain;
}

.winner_square {
  border-color: red;
}
.winner_square:hover {
  border-color: red;
}
#square-1,
#square-4,
#square-7 {
  border-color: silver !important;
  border-left: 1px solid;
  border-right: 1px solid;
}
#square-4,
#square-3,
#square-5 {
  border-color: silver !important;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
